<div class="card" style="padding: 1em;">
    <div class="card-header">
        <h2>Application note :</h2>
    </div>

    <Textarea @type="text" maxlength="100" class="form-control" style="margin-top: 0.3em;" @value={{this.text}} {{on "keyup" this.countText}}
        {{on "keydown" this.countText}} /><br>

    <div class="alert alert-{{this.alert}}" role="alert">{{this.charAvailable}}</div>

    <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-primary" {{on "click" (fn this.save this.text)}}>Save</button>
        <button type="button" class="btn btn-danger" {{on "click" this.clear}}>clear</button>
    </div>


    <div class="alert alert-dark" style="display: {{this.saveDisplay}}; margin-top: 2em;" role="alert">
        <b>Text saved :</b><br>
        {{this.savedText}}<br>
        <button type="button" class="btn btn-secondary" style="margin-top: 0.8em;" {{on "click" (fn this.save ''
            )}}>Delete</button>
    </div>
</div>